.main{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main div{
    width: 20px;
    background: grey;
    height: 10px;
    margin: 2px;
}
.main p{
    font-size: 12px;
    margin: 0;
    margin-right: 5%;
    color: cadetblue;
}