.main{
    width: 100%;
    height: fit-content;
    position: relative;
}
.main > div:nth-child(1){
    position: relative;
    height: fit-content;
}
.main > input{
    padding: 3.5% 2.5%;
    width: 95%;
    outline: none;
    border: none;
    border-bottom: 2px solid grey!important;
    margin: 2% 0;
    color: grey;
}
.main > input:focus{
    border-bottom: 2px solid rgb(204, 181, 53)!important;
}
.main > div:nth-child(4){
    width: 250px;
}
.icon{
    position: absolute;
    top: 25%;
    right: 2%;
} 
.icon > svg{
    color: grey;
    font-size: 30px;
    cursor: pointer;
}
.main > div:nth-child(3) {
    margin: 3px;
    color: red;
    width: fit-content;
    text-align: left;
    font-size: 12px;
}