.main{
    width: 100%;
    height: fit-content;
    position: relative;
}
.main > div:nth-child(1){
    position: relative;
    height: fit-content;
}
.main > input{
    padding: 3.5% 2.5%;
    width: 95%;
    outline: none;
    border: none;
    border-bottom: 2px solid grey!important;
    margin: 2% 0;
    color: grey;
}
.main > input:focus{
    border-bottom: 2px solid rgb(204, 181, 53)!important;
}
.main > div> div{
    position: absolute;
    left: 400px;
    top: 8px;
    color: grey;
    font-size: 22px;
    border: 1px solid black;
}
.main > div:nth-child(2) {
    margin: 3px;
    color: red;
    width: fit-content;
    text-align: left;
    font-size: 12px;
}
